using System;
using System.ComponentModel.DataAnnotations;
using System.Runtime.Serialization;

namespace {{configFile.globalVariables.dtoNamespace}}
{
    [DataContract()]
    public partial class {{toPascalCase (toSingular table.name)}}
    {
        {{#each table.columns}}
        [DataMember(Name = "{{toCamelCase name}}")]
        public {{types.toCSharpType}} {{toPascalCase name}} { get; set; }

        {{/each}}

		{{deltas}}
    }
}